
# Simulation output binary files aren't good for version control
*.jld2
# Zipped files not good either
*.tar
# Plots
*.pdf
# Allow .svg and .png files to get checked in if outside the plots directory
plots/*.png
plots/*.svg
*.mp4
# Slides
*.pptx

# a hanger-on used for isolating bugs to report to open-source maintainers
*/mwe.jl 
